# Dependencies
node_modules/

# Vercel
.vercel

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Windows shortcuts
*.lnk
